<!DOCTYPE html>
<html>
<head>
    <meta lang="es", charset="UTF-8">
    <title>Proyecto CECYMATH 2.0</title>
</head>
<body>
    <h1>Bienvenido Al Proyecto CECYMATH 2.0</h1>
    <ul>
        <li><a href="{% url 'suma' %}">Suma</li>
        <li><a href="{% url 'resta' %}">Resta</li>
        <li><a href="{% url 'multiplicacion' %}">Multiplicacion</li>
        <li><a href="{% url 'divicion' %}">Division</li>
        <li><a href="{% url 'jerarquia' %}">Jerarquia de operaciones</li>
        <li><a href="{% url 'recta' %}">Recta numerica</li>
        <li><a href="{% url 'polinomios' %}">Operaciones con polinomios</li>
        <li><a href="{% url 'ec_primer' %}">Ecuaciones de primer grado</li>
        <li><a href="{% url 'ec_segundo' %}">Ecuaciones de segundo grado</li>
        <li><a href="{% url 'factorizacion' %}">Factorizacion</li>
        <li><a href="{% url 'figuras' %}">Calculo de area y perimetros de figuras planas</li>
    </ul>     
</body>   