<!DOCTYPE html>
<html>
<head>
    <meta lang="es", charset="UTF-8">
    <title>Recta Numerica</title>
<body>
    <h1>Bienvenido Al Apartado de "Recta Numerica"</h1>
    <a href="{% url 'index' %}">⬅ Regresar al menú principal</a>
</body>
</html>

<h1>Divicion</h1>

<h2>Índice</h2>
<ul>
    <li><a href="#intro">Introducción</a></li>
    <li><a href="#concepto">¿Qué es la Recta Numerica?</a></li>
    <li><a href="#definiciones">Definiciones y fundamentos</a></li>
    <li><a href="#ejemplos">Ejemplos</a></li>
    <li><a href="#imagenes">Imágenes</a></li>
    <li><a href="#videos">Videos</a></li>
    <li><a href="#Libros">Libros recomendados</a></li>
    <li><a href="#webs">Páginas de consulta</a></li>
</ul>

<hr>


<h2 id="intro">Introducción</h2>
<p>
La recta numérica es una herramienta visual que permite representar los números de forma ordenada. Ayuda a entender mejor las <br>
operacionesmatemáticas,especialmente la suma y la resta, y facilita la comparación entre números. <br>
</p>


<h2 id="concepto">¿Qué es la Recta Numerica?</h2>
<p>
La recta numérica es una línea infinita que representa todos los números reales (enteros, decimales, fracciones, etc.) de forma ordenada <br>
y equidistante, con el cero en el centro, los positivos a la derecha y los negativos a la izquierda, ayudando a visualizar el orden, <br>
magnitud y operaciones básicas como sumas y restas. <br>
</p>


<h2 id="definiciones">Definiciones y fundamentos matemáticos</h2>
<p>
Cada punto de la recta representa un número. Moverse hacia la derecha significa aumentar el valor y moverse hacia la izquierda <br>
significa disminuirlo.La recta numérica se utiliza para representar operaciones, ordenar números y comprender mejor los valores <br>
negativos. <br>
</p>

<ul>
    <li><b>Orden y comparacion:</b>A la izquierda siempre hay números menores que a la derecha (ej. -3 < 2).</li>
    <li><b>Operaciones:</b>Visualiza la suma (moviéndose a la derecha) y la resta (moviéndose a la izquierda) de números enteros.</li>
    <li><b>Conceptos avanzados:</b> Base para entender intervalos, desigualdades y funciones. </li>
</ul>


<h2 id="ejemplos">Ejemplos resueltos</h2>
<p>
Ejemplo 1:<br>
Comenzando en 3 y avanzando 4 espacios a la derecha se llega al número 7.<br>
</p>

<p>
Ejemplo 2:<br>
Comenzando en 6 y retrocediendo 2 espacios se llega al número 4. <br>
</p>


<h2 id="imagenes">Imágenes ilustrativas</h2>
<p>
Estas imágenes muestran ejemplos sencillos de cómo funciona la Recta Numerica.
</p>

<img src="https://www.geogebra.org/resource/sjbc34cd/1hYPtbk1DOgLgqdF/material-sjbc34cd.png" alt="Ejemplo de la Recta numerica" width="295" height="135">
<br><br>
<img src="https://sitecontent.kumon.com.br/site/general/638537256329762049_Slice%201%20(3).png?width=100" alt="Ejemplo de la Recta numerica" width="295" height="135">



<h2 id="videos">Videos educativos</h2>
<p>
Video recomendado para reforzar el tema:
</p>

<a href="https://www.youtube.com/watch?v=uhK8FmgsxY8" target="_blank">
Video sobre la Divicion
</a><br>

<a href="https://www.youtube.com/watch?v=4CqlbCV0jPA" target="_blank">
Segundo video sobre la divicion
</a><br>

<a href="https://www.youtube.com/watch?v=4ejblC5i7Fg" target="_blank">
Tercer video sobre la divicion
</a><br>

<h2 id="Libros">Libros recomendados</h2>

<ul>
    <li>
        Secretaría de Educación Pública (SEP). (2018).
        <i>Matemáticas para Educación Media Superior</i>.
        <br>
        Este libro sirvió de apoyo para comprender el uso de la recta numérica y la
        representación de números.
    </li>
</ul>


<h2 id="webs">Páginas web de consulta confiables</h2>
<ul>
    <li>
        <a href="https://www.khanacademy.org" target="_blank">
        Khan Academy
        </a>
    </li>
    <li>
        <a href="https://www.educaplus.org" target="_blank">
        Educaplus
        </a>
    </li>
</ul>

<br>
<a href="#top">Volver al inicio</a>

</body>
</html>