<!DOCTYPE html>
<html>
<head>
    <meta lang="es", charset="UTF-8">
    <title>Multiplicacion</title>
<body>
    <h1>Bienvenido Al Apartado "Multiplicación"</h1>
    <a href="{% url 'index' %}">⬅ Regresar al menú principal</a>
</body>
</html>

<h1>Multiplicacion</h1>

<h2>Índice</h2>
<ul>
    <li><a href="#intro">Introducción</a></li>
    <li><a href="#concepto">¿Qué es la multiplicación?</a></li>
    <li><a href="#definiciones">Definiciones y fundamentos</a></li>
    <li><a href="#ejemplos">Ejemplos</a></li>
    <li><a href="#imagenes">Imágenes</a></li>
    <li><a href="#videos">Videos</a></li>
    <li><a href="#Libros">Libros recomendados</a></li>
    <li><a href="#webs">Páginas de consulta</a></li>
</ul>

<hr>


<h2 id="intro">Introducción</h2>
<p> 
La multiplicación es una operación que facilita el cálculo de sumas repetidas. En lugar de sumar el mismo número muchas veces, <br>
la multiplicación permite obtener el resultado de manera más rápida y eficiente.Es una operación clave para resolver problemas <br>
matemáticos y situaciones cotidianas. <br>
</p>


<h2 id="concepto">¿Qué es la suma?</h2>
<p>
La multiplicación es una operación matemática que sirve para sumar un mismo número (multiplicando) repetidas veces, <br>
indicado por otro número (multiplicador),siendo una forma abreviada y eficiente de hacer sumas largas; sus partes son los factores <br>
(los números que se multiplican) y el producto (el resultado). Por ejemplo, 3 x 4 es lo mismo que 4 + 4 + 4, o 3 + 3 + 3 + 3,<br>
dando un producto de 12. <br>
</p>


<h2 id="definiciones">Definiciones y fundamentos matemáticos</h2>
<p>
Los números que se multiplican se llaman factores, y el resultado se llama producto.
La multiplicación tiene propiedades importantes:
</p>

<ul>
     
    <li>Comuntativa</li>
    <li>Asociativa</li>
    <li>Distributiva</li>
</ul>
<p>
Estas propiedades ayudan a simplificar operaciones y resolver problemas con mayor facilidad.
</p>

<ul>
     
    <li><b>Factores:</b>Son los números que se multiplican (el multiplicando y el multiplicador).</li>
    <li><b>Producto:</b>Es el resultado de la operación.</li>
    <li><b>Signo:</b>Es el resultado de la operación.</li>
    <li><b>Propiedad conmutativa:</b>Es el resultado de la operación.</li>
</ul>

<h2 id="ejemplos">Ejemplos resueltos</h2>
<p>
Ejemplo 1:<br>
Si un cuaderno cuesta cierta cantidad y se compran varios cuadernos, <br>
la multiplicación permite calcular el costo total sin sumar uno por uno. <br>
</p>

<hr>

<p>
Ejemplo 2:<br>
6 x 4 = 24
</p>
 
<hr>

<p>
Ejemplo 3:<br>
4 x 4 = 16
</p>

<hr>

<h2 id="imagenes">Imágenes ilustrativas</h2>
<p>
Estas imágenes muestran ejemplos sencillos de cómo funciona la multiplicacion.
</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlH3sZ2g9gm0VNJhsO9NqIAj7CG8M5pDzQkQ&s" alt="Ejemplo de la multiplicacion" width="250" height="195">
<br><br>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMSWQOFNPhzOi_bRrpkTtfAyJ_4DTvd_OrRA&s" alt="Ejemplo de la multiplicacion" width="250" height="195">



<h2 id="videos">Videos educativos</h2>
<p>
Video recomendado para reforzar el tema:
</p>

<a href="https://www.youtube.com/watch?v=AE4B0hgnz0E" target="_blank">
Video sobre la multiplicación
</a><br>

<a href="https://www.youtube.com/watch?v=CGXHrIp7Dpw" target="_blank">
Segundo video sobre la multiplicación
</a><br>
 <a href="https://www.youtube.com/watch?v=KeCjZW6d35c" target="_blank">
Segundo video sobre la multiplicación
</a><br>

<h2 id="Libros">Libros recomendados</h2>

<ul>
    <li>
        Ruiz, M. (2013). <i>Matemáticas 1</i>. Editorial Trillas.
        <br>
        Este libro ayudó a reforzar el concepto de multiplicación y sus propiedades.
    </li>
</ul>




<h2 id="webs">Páginas web de consulta confiables</h2>
<ul>
    <li>
        <a href="https://www.khanacademy.org" target="_blank">
        Khan Academy
        </a>
    </li>
    <li>
        <a href="https://www.educaplus.org" target="_blank">
        Educaplus
        </a>
    </li>
</ul>
<h1>Formulario para practicar lo aprendido</h1>
<h2>Multiplicación</h2>

<form method="post">
    {% csrf_token %}

    <input type="number" name="a" placeholder="Número 1" required>
    <input type="number" name="b" placeholder="Número 2" required>

    <button type="submit">Multiplicar</button>
</form>

{% if resultado != None %}
    <h3>Resultado: {{ resultado }}</h3>
{% endif %}
<br>
<a href="#top">Volver al inicio</a>

</body>
</html>