<!DOCTYPE html>
<html>
<head>
    <meta lang="es", charset="UTF-8">
    <title>Operaciones con Polinomios</title>
<body>
    <h1>Bienvenido Al Apartado de "Operaciones con polinomios"</h1>
    <a href="{% url 'index' %}">⬅ Regresar al menú principal</a>
</body>
</html>

<h1>Opeeraciones con Polinomios</h1>

<h2>Índice</h2>
<ul>
    <li><a href="#intro">Introducción</a></li>
    <li><a href="#concepto">¿Qué es un Polinomio?</a></li>
    <li><a href="#definiciones">Definiciones y fundamentos</a></li>
    <li><a href="#ejemplos">Ejemplos</a></li>
    <li><a href="#imagenes">Imágenes</a></li>
    <li><a href="#videos">Videos</a></li>
    <li><a href="#webs">Páginas de consulta</a></li>
    <li><a href="#referencias">Referencias</a></li>
</ul>

<hr>


<h2 id="intro">Introducción</h2>
<p>
Los polinomios son expresiones matemáticas que forman parte fundamental del álgebra y se utilizan para representar diferentes <br>
situaciones matemáticas de forma general.Aparecen con frecuencia en operaciones algebraicas, ecuaciones, funciones y problemas <br>
de la vida diaria relacionados con cantidades desconocidas.Aprender a trabajar con polinomios ayuda a desarrollar el razonamiento lógico <br>
y facilita el aprendizaje de temas más avanzados como la factorización y las ecuaciones. <br>
</p>


<h2 id="concepto">¿Qué es un polinomio ?</h2>
<p>
Una operación con polinomios es la aplicación de las operaciones aritméticas básicas (suma, resta, multiplicación y división) <br>
(y a veces factorización) a expresiones algebraicas con variables y exponentes,cuyo resultado es otro polinomio, sumando o restando <br>
términos semejantes, o aplicando la propiedad distributiva en la multiplicación y algoritmos para la división. <br>
</p>


<h2 id="definiciones">Definiciones y fundamentos matemáticos</h2>
<p>
Los polinomios se pueden clasificar según la cantidad de términos que tienen:
</p>
<ul>
    <li><b>Termino:</b>cada una de las partes que forman el polinomio y que están separadas por signos de suma o resta. </li>
    <li><b>Coeficiente:</b>número que acompaña a la variable.</li>
    <li><b>Variable:</b>letra que representa una cantidad desconocida.</li>
    <li><b>Exponenete:</b>número que indica cuántas veces se multiplica la variable por sí misma</li>
    <li><b>Termino independiente</b>número que no tiene variable.</li>
</ul>
<p>
Los polinomios solo pueden tener exponentes enteros positivos, por lo que no se permiten raíces ni divisiones entre variables.
</p>

<ul>
    <li><b>Suma y Resta:</b> Se agrupan y suman/restan los coeficientes de los términos semejantes (misma variable y exponente)..</li>
    <li><b>Multiplicacion:</b>Se aplica la propiedad distributiva, multiplicando cada término de un polinomio por todos los términos del otro,y luego se suman los términos semejantes</li>
    <li><b>Division:</b> Es más compleja y se realiza mediante algoritmos como la división larga o la regla de Ruffini (para divisores de la forma \(x-a\)), resultando en un cociente y un residuo. </li>
</ul>

<hr>

<h2 id="ejemplos">Ejemplos resueltos</h2>

<h3>Ejemplo con polinomios</h3>

<p><b>Operación:</b> (2x + 3) + (x + 5)</p>

<p><b>Paso 1:</b> Se suman los términos semejantes.</p>
<p><b>Paso 2:</b> 2x + x = 3x.</p>
<p><b>Paso 3:</b> 3 + 5 = 8.</p>

<p><b>Resultado:</b> 3x + 8.</p>

<hr>

<h3>Ejemplo 2 con polinomios</h3>

<p><b>Operación:</b> (3x + 4) − (x + 2)</p>

<p><b>Paso 1:</b> Se restan los términos semejantes.</p>
<p><b>Paso 2:</b> 3x − x = 2x.</p>
<p><b>Paso 3:</b> 4 − 2 = 2.</p>

<p><b>Resultado:</b> 2x + 2.</p>

<hr>

<h3>Ejemplo 3 con polinomios</h3>

<p><b>Operación:</b> 2x( x + 3 )</p>

<p><b>Paso 1:</b> Se aplica la propiedad distributiva.</p>
<p><b>Paso 2:</b> 2x·x = 2x² y 2x·3 = 6x.</p>

<p><b>Resultado:</b> 2x² + 6x.</p>



<h2 id="imagenes">Imágenes ilustrativas</h2>
<p>
Estas imágenes muestran ejemplos sencillos de cómo funciona las Operaciones con polinomios.
</p>

<img src="https://www.matesfacil.com/ESO/polinomios/producto/P10-1.png" alt="Ejemplo de los polinomios" width="250" height="185">
<br><br>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRF_Tkzg9Zm03sb_fkRsZDa7W_-_ym3FGOiFQ&s" alt="Ejemplo de los polinomios" width="250" height="185">



<h2 id="videos">Videos educativos</h2>
<p>
Video recomendado para reforzar el tema:
</p>

<a href="https://www.youtube.com/watch?v=Yng9FbUK2MY" target="_blank">
Video sobre los polinomios
</a><br>

<a href="https://www.youtube.com/watch?v=Y7rvipk5NO4" target="_blank">
Segundo video sobre los polinomios
</a><br>

<a href="https://www.youtube.com/watch?v=bU9m3PF71Oo" target="_blank">
Tercer video sobre los polinomios
</a><br>


<h2 id="Libros">Libros recomendados</h2>

<ul>
    <li>
        Baldor, A. (2015). <i>Álgebra</i>. Editorial Patria.
        <br>
        Este libro se utilizó para comprender las operaciones básicas con polinomios
        y el manejo de términos semejantes.
    </li>
</ul>


<h2 id="webs">Páginas web de consulta confiables</h2>
<ul>
    <li>
        <a href="https://www.khanacademy.org" target="_blank">
        Khan Academy
        </a>
    </li>
    <li>
        <a href="https://www.educaplus.org" target="_blank">
        Educaplus
        </a>
    </li>
</ul>

<h2 id="referencias">Referencias</h2>
<ul>
    <li>
        Baldor, A. (2015). <i>Álgebra</i>. Editorial Patria.
    </li>
    <li>
        Khan Academy. (s.f.). <i>Polinomios</i>.
    </li>
</ul>

<br>
<a href="#top">Volver al inicio</a>

</body>
</html>