<!DOCTYPE html>
<html>
<head>
    <meta lang="es", charset="UTF-8">
    <title>Jerarqui de Operaciones</title>
<body>
    <h1>Bienvenido Al Apartado "Jeraquia de Operaciones"</h1>
    <a href="{% url 'index' %}">⬅ Regresar al menú principal</a>
</body>
</html>

<h1>Jerarquia de operaciones</h1>

<h2>Índice</h2>
<ul>
    <li><a href="#intro">Introducción</a></li>
    <li><a href="#concepto">¿Qué es la Jerarquia de Operacones?</a></li>
    <li><a href="#definiciones">Definiciones y fundamentos</a></li>
    <li><a href="#ejemplos">Ejemplos</a></li>
    <li><a href="#imagenes">Imágenes</a></li>
    <li><a href="#videos">Videos</a></li>
    <li><a href="#Libros">Libros recomendados</a></li>
    <li><a href="#webs">Páginas de consulta</a></li>
    <li><a href="#referencias">Referencias</a></li>
</ul>

<hr>


<h2 id="intro">Introducción</h2>
<p>
La jerarquía de operaciones es un conjunto de reglas que indican el orden correcto en el que deben resolverse las operaciones <br>
matemáticas cuando aparecen varias en una misma expresión. Estas reglas son muy importantes porque, si no se siguen, se pueden <br>
obtener resultados incorrectos.La jerarquía de operaciones se utiliza en todos los niveles de las matemáticas y es fundamental para <br> 
resolver operaciones combinadas, ecuaciones y problemas matemáticos. <br>
</p>


<h2 id="concepto">¿Qué es la Jerarquia de Operaiones?</h2>
<p>
La jerarquía de operaciones es un conjunto de reglas que dictan el orden para resolver expresiones matemáticas, asegurando un resultado único: <br>
Primero Paréntesis (y otros signos de agrupación), luego Exponentes (y Raíces), después Multiplicaciones y Divisiones(de izquierda a derecha), <br>
y finalmente Sumas y Restas(de izquierda a derecha), evitando confusiones. <br>
</p>


<h2 id="definiciones">Definiciones y fundamentos matemáticos</h2>
<p>
La jerarquía de operaciones es importante porque permite resolver expresiones matemáticas de forma clara y ordenada. <br>
Si no se respeta, una misma operación puede dar resultados diferentes. Por esta razón, su uso es obligatorio en matemáticas <br>
y en ciencias como la física y la química.

</p>

<ul>
    <li><b>Signos de adrupación (Parentesis,corchetes,llaves):</b>Se resuelven las operaciones dentro de ellos, comenzando por los más internos (paréntesis dentro de corchetes, etc.).</li>
    <li><b>Exponenetes y raices:</b>Se calculan potencias y raíces, de izquierda a derecha si aparecen juntas.</li>
    <li><b>Multiplicacion y divisiones:</b>Se realizan de izquierda a derecha.</li>
    <li><b>Sumas y Restas:</b>Se ejecutan de izquierda a derecha. </li>
</ul>

<h2 id="ejemplos">Ejemplos resueltos</h2>
<p>

<h3>Ejemplo de jerarquía de operaciones</h3>

<p><b>Expresión:</b> 5 + 4 × 3</p>

<p><b>Paso 1:</b> Primero la multiplicación: 4 × 3 = 12.</p>
<p><b>Paso 2:</b> Luego la suma: 5 + 12 = 17.</p>

<p><b>Resultado:</b> 17.</p>

<hr>

<h3>Ejemplo 2 de jerarquía</h3>

<p><b>Expresión:</b> (8 + 2) × 3</p>

<p><b>Paso 1:</b> Paréntesis: 8 + 2 = 10.</p>
<p><b>Paso 2:</b> Multiplicación: 10 × 3 = 30.</p>

<p><b>Resultado:</b> 30.</p>

<hr>

<h3>Ejemplo 3 de jerarquía</h3>

<p><b>Expresión:</b> 20 − 4 ÷ 2</p>

<p><b>Paso 1:</b> División: 4 ÷ 2 = 2.</p>
<p><b>Paso 2:</b> Resta: 20 − 2 = 18.</p>

<p><b>Resultado:</b> 18.</p>

<hr>

<h2 id="imagenes">Imágenes ilustrativas</h2>
<p>
Estas imágenes muestran ejemplos sencillos de cómo funciona la Jerarquia de Operaciones.
</p>

<img src="https://math3logic.com/wp-content/uploads/2023/03/Jerarquia-de-operaciones-6-min.png" alt="Ejemplo de la Jerarquia de Operacione" width="245" height="165">
<br><br>
<img src="https://math3logic.com/wp-content/uploads/2023/08/4Combinando-Jerarquia-de-operaciones-3-min.png" alt="Ejemplo de la Jerarquia de Operaciones" width="255" height="235">



<h2 id="videos">Videos educativos</h2>
<p>
Video recomendado para reforzar el tema:
</p>

<a href="https://www.youtube.com/watch?v=XV5PiV2-91U" target="_blank">
Video sobre la Jerarquia de Opereaciones
</a><br>

<a href="https://www.youtube.com/watch?v=FIjylOufxyU" target="_blank">
Segundo video sobre la Jerarquia de operaciones
</a><br>

<h2 id="Librps">Libros recomendados</h2>

<h2 id="libros">Libro citado</h2>
<ul>
    <li>
        Larson, R. y Hostetler, R. (2014). <i>Precálculo</i>. McGraw-Hill.
        <br>
        Este libro fue utilizado para entender el orden correcto de las operaciones
        matemáticas en expresiones combinadas.
    </li>
</ul>


<h2 id="webs">Páginas web de consulta confiables</h2>
<ul>
    <li>
        <a href="https://www.khanacademy.org" target="_blank">
        Khan Academy
        </a>
    </li>
    <li>
        <a href="https://www.educaplus.org" target="_blank">
        Educaplus
        </a>
    </li>
</ul>

<h2 id="referencias">Referencias</h2>
<ul>
    <li>
        Larson, R., & Hostetler, R. (2014). <i>Precálculo</i>. McGraw-Hill.
    </li>
    <li>
        Khan Academy. (s.f.). <i>Orden de las operaciones</i>.
    </li>
</ul>

<br>
<a href="#top">Volver al inicio</a>

</body>
</html>