<!DOCTYPE html>
<html>
<head>
    <meta lang="es", charset="UTF-8">
    <title>Ecuacione de Primer grado</title>
<body>
    <h1>Bienvenido Al Apartado de "Ecuaciones de Primer grado"</h1>
    <a href="{% url 'index' %}">⬅ Regresar al menú principal</a>
</body>
</html>

<h1>Opeeraciones con Polinomios</h1>

<h2>Índice</h2>
<ul>
    <li><a href="#intro">Introducción</a></li>
    <li><a href="#concepto">¿Qué es un Ecuacion?</a></li>
    <li><a href="#definiciones">Definiciones y fundamentos</a></li>
    <li><a href="#ejemplos">Ejemplos</a></li>
    <li><a href="#imagenes">Imágenes</a></li>
    <li><a href="#videos">Videos</a></li>
    <li><a href="#Libros">Libros recomendados</a></li>
    <li><a href="#webs">Páginas de consulta</a></li>
</ul>

<hr>


<h2 id="intro">Introducción</h2>
<p>
Las ecuaciones de primer grado son uno de los temas más importantes del álgebra, ya que permiten resolver problemas donde <br>
se desconoce una cantidad. Este tipo de ecuaciones se utilizan no solo en matemáticas escolares, sino también en situaciones de <br>
la vida diaria, como calcular costos,edades, distancias o cantidades faltantes. Aprender a resolver ecuaciones de primer grado ayuda a <br> 
desarrollar el razonamiento lógico y la capacidad de análisis. <br>
</p>


<h2 id="concepto">¿Qué es una Ecuacion ?</h2>
<p>
Las ecuaciones de primer grado, también llamadas ecuaciones lineales, son igualdades algebraicas donde la incógnita <br>
(generalmente una letra como (x)) tiene el exponente más alto de 1, involucrando solo sumas y restas de la variable, <br>
y su objetivo es encontrar el valor numérico de esa incógnita que hace la igualdad verdadera. Son fundamentales en matemáticas <br> 
y se resuelven despejando la incógnita mediante operaciones básicas para aislarla en un lado de la ecuación <br>
</p>


<h2 id="definiciones">Definiciones y fundamentos matemáticos</h2>
<p>
Una ecuación está formada por dos miembros separados por el signo igual. El lado izquierdo y el lado derecho deben tener el mismo valor <br>
para que la ecuación sea verdadera. Para resolver una ecuación de primer grado se aplican operaciones inversas, es decir, si un número está sumando se resta, <br>
si está multiplicando se divide, siempre realizando la misma operación en ambos lados de la igualdad. <br>
Esto permite mantener el equilibrio de la ecuación y aislar la incógnita. <br>
</p>
<ul>
    <li><b>incognita a la primera potencia:</b>La variable no está elevada a ninguna potencia mayor </li>
    <li><b>Igualdad:</b>Tienen un signo de igual (=) que separa dos expresiones</li>
    <li><b>Coeficiente:</b>Los números que acompañan a la incógnita se llaman coeficientes.</li>
    <li><b>Termino independinet:</b> Es el número que no está acompañado por la incógnita. </li>
</ul>

<hr>

<h2 id="ejemplos">Ejemplos resueltos</h2>

<p>
Ejemplo 1:<br>
x + 9 = 18 <br> 
<p>
Primero se resta 9 en ambos lados de la ecuación.
</p>
x = 18 − 9 <br>
x = 9 <br>
<hr>

<p>
Ejemplo 2: <br>
5x = 25
<p>
Se divide entre 5 en ambos lados.
</p>
x = 5
</p>

<hr>

<p>
Ejemplo: Resta de Polinomios<br>
(7x + 6) − (2x + 3)<br>
Resultado: 5x + 3
</p>

<hr>

<h2 id="imagenes">Imágenes ilustrativas</h2>
<p>
Estas imágenes muestran ejemplos sencillos de cómo funciona las Operaciones con polinomios.
</p>

<img src="	https://matemathweb.com/wp-content/uploads/2020/11/ecuaciones-de-primer-grado-imagen-11.jpg" alt="Ejemplo de las Ecuaciones de primer grado" width="250" height="185">
<br><br>
<img src="	https://matemathweb.com/wp-content/uploads/2020/11/ecuaciones-de-primer-grado-imagen-5.jpg" alt="Ejemplo de las Ecuaciones de primer grado" width="250" height="185">



<h2 id="videos">Videos educativos</h2>
<p>
Video recomendado para reforzar el tema:
</p>

<a href="https://www.youtube.com/watch?v=IHblqjW8RY8" target="_blank">
Video sobre las Ecuciones de primer grado
</a><br>

<a href="https://www.youtube.com/watch?v=8rT0DZbYGEs" target="_blank">
Segundo video sobre las Ecuaciones de primer grado
</a><br>

<a href="https://www.youtube.com/watch?v=kRGwE6OKN9M" target="_blank">
Tercer video sobre las Ecuaciones de primer grado
</a><br>

<h2 id="Librps">Libros recomendados</h2>


<h2 id="libros">Libro citado</h2>
<ul>
    <li>
        Larson, R. y Hostetler, R. (2014). <i>Precálculo</i>. McGraw-Hill.
        <br>
        Se consultó para reforzar la resolución de ecuaciones de primer grado paso a paso.
    </li>
</ul>




<h2 id="webs">Páginas web de consulta confiables</h2>
<ul>
    <li>
        <a href="https://www.khanacademy.org" target="_blank">
        Khan Academy
        </a>
    </li>
    <li>
        <a href="https://www.educaplus.org" target="_blank">
        Educaplus
        </a>
    </li>
</ul>

<br>
<a href="#top">Volver al inicio</a>

</body>
</html>