body{
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #68b3fd 0%, #3d6cb4 40%, #0f2d5e 100%);
    text-align: center;
    padding-top: 20px;
    width: 99%;
}

.contenido_menu{
    display: inline-block;
    text-align: center;
}

.tarjeta{
    background: white;
    margin: 10px;
    width: 200px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px;
    transition: 0.3s;
    cursor: pointer;
}

.tarjeta:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 20px;
}

a{
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: bold;
}
